.page-container {
	position: relative;
 	min-height: 100vh;
}
.content {
	padding-bottom: 2.5rem;
	padding-top: 20px;
}

.project-card:hover {
	cursor: pointer;
}

.card img {
	width: 100%;
	height: 450px;
	height: 450px;
	border-radius: 28px;
}

.login-card {
	width: 30rem;
}

/* .update-card {
	margin-top: 40px;
} */

.update-card h6 {
	font-size: larger;
	font-weight: 600;
	color: #3159b7;
}

/* .side-nav {
	margin: 10px;
	border-radius: 5px;
	border: 1px solid rgb(222, 222, 222);
	height: 100%;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
}

.side-nav li {
	text-decoration: none;
	margin: 5px 0px;
}

.side-nav a {
	color: black;
	text-decoration: none;
}

.side-nav a:hover {
	color: grey;
}

.side-nav .active-link {
	background-color: #6f85c2;
	border-radius: 5px;
	padding: 0px 10px;
}

.side-nav .active-link a {
	color: white;
	text-decoration: none;
}

.side-nav .active-link a:hover {
	color: black;
} */


.project-list-card {
	margin: 15px;
}
.project-list-card a {
	text-decoration: none;
}

.project-card-body p {
	color: black;
	font-size: 16px;
}



.clickable-card:hover{
	border: 1px solid #042062;
	box-shadow: 2px 2px #6f85c2;
}

.error-message {
	color: red;
	display: none;
	display: none;
}

.banner-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.logo-image {
	min-width: 70px;
	height: 100%;
	width: 100px;
	object-fit: contain;
}

.more-info-btn {
	margin-bottom: 20px;
}

.more-info-btn img {
	height: 200px;
	width: 300px;
	object-fit: cover;
	margin-bottom: 20px;
}

.more-info-btn p {
	color: grey;
}

.title {
	display: inline;
	align-self: bottom;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



h1,a, button{
	font-family: Helvetica, sans-serif;
}




@media(min-width: 600px) {
	.info {
		margin: 20px auto 0px auto;

	}
}

@media(min-width: 1000px) {
	.info {
		margin: 30px auto 0px auto;

	}
}

.content .btn-danger {
	
}

.content .btn {
	
}

.content .btn-danger:hover {
	color: #3159b7;
	background-color: #870000;
}

.certificates {
	margin: 21px;
}

.form-check {
	padding: 3px;
	float: left;
}

.login-password {
	width: 28rem;
}

@media (max-width: 600px) {
	.card img {
		height: 350px;
	}
	.center {
		margin-left: 25px;
	}
}

.input-group-append {
	width: 28rem;
}

.form-row {
	padding: 10px;
	margin-left: 5px;
}
.request-form {
	width: 100rem;
	margin-top: 40px
}

.top {
	margin-top: 60px;
}

/* login */

.login-btn a {
	margin-right: 50px;
	background-color: #042062;
	border: 0px;
	color: white;
}
.login-btn a:hover {
	background-color: #6f85c2;
	color: white;
}


/* footer */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;            

}

.footer p {
	color: grey;
	padding: 20px 30px 0px 30px;
}


.divider {
	background: #fbe326;
	content: "";
	position: relative;
	margin-top: 20px;
	bottom: 0;
	height: 6px;
	left: 0;
	right: 0;
}


/* DIT FIXED HET HORIZONTAAL SCROLLEN NIET WEGHALEN!!! */
.row {
	width: 100%;
	margin: auto;
}

/* buttons */

 .accountinfo {
	background-color: white
}

.side-nav .btn {
	border: 1px solid #d1dbf6;
	background-color: #e3e6f4;

}



.side-nav .btn:hover {
	background-color: #6f85c2;
	color: white;
}