.tinkiewinkie a:hover,
.tinkiewinkie button:hover,
.tinkiewinkie li a:hover {
	color: #3159b7 !important;
}

.dipsy a:hover::after {
	background: #fbe326;
	content: "";
	position: absolute;
	height: 20%;
	width: 5px;
	left: 0;
}

.card img {
	width: 100%;
	height: 450px;
	height: 450px;
	border-radius: 28px;
}


.login-card {
	width: 30rem;
}

.update-card {
	margin-top: 40px;
}

.update-card h6{
	font-size: larger;
	font-weight: 600;
	color:#3159b7;
}


.side-nav {
	margin: 10px;
	border-radius: 5px;
	border: 1px solid rgb(222, 222, 222);
	height: 100%;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
}

.side-nav li {
	text-decoration: none;
	margin: 5px 0px;
}

.side-nav a {
	color: black;
	text-decoration: none;
}

.side-nav a:hover {
	color: grey;
}

.side-nav .active-link {
	background-color: #6f85c2;
	border-radius: 5px;
	padding: 0px 10px;
}

.side-nav .active-link a {
	color: white;
	text-decoration: none;
}

.side-nav .active-link a:hover {
	color: black;
}

.page-title {
	padding: 15px;
}

.project-card {
	margin: 15px;
}
.project-card a {
	text-decoration: none;
}

.project-card-body > p {
	color: black;
	font-size: 14px;
}

.error-message {
	color: red;
	display: none;
	display: none;
}

.banner-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.logo-image {
	min-width: 70px;
	height: 100%;
	width: 100px;
	object-fit: contain;
}

.more-info-btn img {
	height: 200px;
	width: 300px;
	object-fit: cover;
	margin-bottom: 20px;
}

.more-info-btn p {
	color: grey;
}

.title {
	display: inline;
	align-self: bottom;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-buttons {
	padding: 0px 10px;
	font-family: Tahoma;
}

h1,
a {
	font-family: Helvetica, sans-serif;
}

h1 {
	padding-top: 20px;
}

.btn-group a:hover p,
.lala:hover {
	color: #fbe326;
}

.login-btn a {
	margin-right: 50px;
	background-color: #042062;
	border: 0px;
}
.login-btn a:hover {
	background-color: #6f85c2;
}

.btn-group > a:hover::after,
.lala:hover::after {
	background: #fbe326;
	content: "";
	position: absolute;
	bottom: 0;
	height: 6px;
	left: 0;
	right: 0;
}

.content {
	margin-top: 50px;
}

.content .info {
	margin-top: 20px;
	margin-bottom: 20px;
}
.lala:hover {
	text-decoration: none;
}

.divider {
	background: #fbe326;
	content: "";
	position: relative;
	margin-top: 20px;
	bottom: 0;
	height: 6px;
	left: 0;
	right: 0;
}

.footer {
	margin-top: auto;
	padding-top: 40px;
	padding-top: 40px;
}

.footer p {
	color: grey;
	padding: 0px 30px 0px 30px;
}

.content .btn {
	background-color: #042062;
	border: 0px;
}

.content .btn:hover {
	background-color: #6f85c2;
}



.certificates {
	margin: 21px;
}

.form-check {
	padding: 3px;
	float: left;
}


.footer {
	margin-top: auto;
}

.footer p {
	color: grey;
	padding: 0px 30px 0px 30px;
}

.login-password {
	width: 28rem;
}

@media (max-width: 600px) {
	.card img {
		height: 350px;
	}
}


.input-group-append {
	width: 28rem;
}

.form-row {
	padding: 10px;
	margin-left: 5px;
}
.request-form {
	width: 100rem;
}

.top {
	margin-top: 60px;

}

/* DIT FIXED HET HORIZONTAAL SCROLLEN NIET WEGHALEN!!! */
.row {
	width:100%;
}