.card img {
	width: 100%;
	height: 300px;
}
.card {
	max-width: 40rem;
	border-radius: 28px;
	padding: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.reset {
	width: 40rem;
	float: center;
}

.error-message {
	color: red;
	visibility: visible;
}
.row {
	display: inline-flex;
}
